<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/weather-icons.min.css">
    <script defer src="/js/all.min.js"></script>
  </head>
  <body class="has-background-white-ter">
    <section>
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths spazi">
                    <p class="title">Hacker News</p>
                    <table class="table is-striped">
                    {{#each HNstories}}
                        <tr>
                            <td>
                                <a href="{{url}}" class="has-text-black-bis is-block linea">{{title}}</a>
                                <a href="/comments/{{storyId}}"><span class="is-size-7 has-text-grey linea">({{website}})</span><span class="is-size-7 has-text-grey-light"> {{num_comments}} comments</span></a>
                            </td>
                        </tr>
                    {{/each}}
                    </table>
                </div>
                <div class="column spazi">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <div class="meteo-icons">
                                <i class="wi {{forecastData.icon}}"></i>
                            </div>
                        </div>
                        <div class="column">
                            <p class="title is-block">Meteo</p>
                            <p>Temperatura {{forecastData.temperature}}</p>
                            <p>Possibilità di pioggia {{forecastData.rain_chance}}%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-three-fifths spazi">
                    <p class="title">ANSA</p>
                    <table class="table is-striped">
                    {{#each ANSAnews}}
                        <tr>
                            <td>
                                <a href="{{url}}">{{title}}</a>
                            </td>
                        </tr>
                    {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>